gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
/app/debug/app-debug.apk
/app/profile/app-profile.apk
/app/release/app-release.apk
/app/debug/output.json
/app/profile/output.json
/app/release/output.json
